<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最近安全资料收集</title>
    <meta name="description" content="最新安全相关信息,漏洞信息和个人安全学习记录.">
    <meta name="keywords" content="安全信息,安全,漏洞,安全工具,安全媒体,安全快讯,安全笔记">
    <meta name="author" content="涂腾飞 <tutengfei.kevin@gmail.com>">
    <link rel="icon" href="/media/img/blog.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/main.css">
</head>
<body>
{% load beeblog_extras %}
<div id="wrapper">
    <div id="header">
        {% block navbar %}
            <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/"><img style="width: 100px; height: 35px;" src="/media/img/my-site-logo.png"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">安全快讯
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for c in categories %}
                                            {% if c.sub_category == 1 %}
                                                <li><a href="/blog/category/{{ c.id }}/">{{ c }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">安全微信公众号
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Seebug</a></li>
                                        <li><a href="#">余玄</a></li>
                                    </ul>
                                </li>
                                <li><a href="/blog/category/6/">漏洞播报</a></li>
                                <li><a href="/blog/category/7/">安全工具</a></li>
                                <li><a href="/blog/category/8/">杂记</a></li>
                                <li><a href="#">我是谁</a></li>
                            </ul>
                            <form class="navbar-form navbar-right" action="/blog/search" method="get" role="search">
                                <div class="form-group">
                                    <input type="text" name="search_query" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        {% endblock %}
    </div>
    <div id="content" class="container">
        {% block content %}
            <div class="row">
                <div class="col-md-9">
                    {# 最新的具体的内容#}
                    {% block article %}
                        {% for article in articles %}
                            {% include 'beeblog/article_header.html' %}
                        {% endfor %}
                    {% endblock %}
                </div>

                <div class="col-md-3">
                    {#  文章分类 #}
                    <div class="thumbnail">
                        <h5>&nbsp; 文章分类</h5>
                        <nav class="navbar" role="navigation">
                            <div class="search_tag">
                                {% for c in categories %}
                                    <a class="btn btn-info btn-xs" href="/blog/category/{{ c.id }}/">
                                        {{ c.category_text }}
                                    </a>
                                    {% if forloop.counter|mod:3 == 0 %}
                                        <div style="margin-top: 5px;"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </nav>
                    </div>
                    {# 作者标签 #}
                    <div class="thumbnail">
                        <h5>&nbsp; 作者标签</h5>
                        <nav class="navbar" role="navigation">
                            <div class="search_tag">
                                {% for a in authors %}
                                    <a class="btn btn-success btn-xs" href="/blog/author/{{ a.id }}/">
                                        {{ a.name }}
                                    </a>
                                    {% if forloop.counter|mod:3 == 0 %}
                                        <div style="margin-top: 5px;"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </nav>
                    </div>
                    {#   时间标签  #}
                    <div class="thumbnail">
                        <h5>&nbsp; 时间标签</h5>
                        <nav class="navbar" role="navigation">
                            <div class="search_tag">
                                <a role="button" class="btn btn-primary btn-xs" href="/blog/recent/7/">
                                    最近7天
                                </a>
                                <a role="button" class="btn btn-primary btn-xs" href="/blog/recent/30/">
                                    最近一个月
                                </a>
                                <a role="button" class="btn btn-primary btn-xs" href="/blog/recent/90/">
                                    最近三个月
                                </a>
                                <div style="margin-top: 5px;"></div>
                                <a role="button" class="btn btn-primary btn-xs" href="/blog/recent/360/">
                                    最近一年
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block pagenation %}
        {% endblock %}
    </div>

    {% block footer %}
        <div style="min-height: 200px;"></div>
        <div id="footer">
            <div class="container" style="padding-top: 20px;">
                <h5>Copyright © 2016. </h5>
                <span>文章由Kevin整理,如有问题可以发邮件到<a href="mailto:tutengfei.kevin@gmail.com" target="_top">我的邮箱</a>.</span>
            </div>
        </div>
    {% endblock %}
</div>

</body>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
</html>
