<div class="row">
    <div class="col-md-9">
        <ul class="pagination pull-right">
            {% if page_objects.paginator.num_pages != 1 %}
                {% if page_objects.has_previous %}
                    {% if '?' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page={{ contacts.previous_page_number }}">&laquo;</a></li>
                     {% else %}
                        <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                {% endif %}
                <li class="disabled"> <a href="#">{{ page_objects.number }} of {{ page_objects.paginator.num_pages }}</a></li>

                {% if page_objects.has_next %}
                    {% if '?' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page={{ page_objects.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li><a href="?page={{ page_objects.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
